<div class="tenant-card">
  <div class="img-card-tenant">
    <%= cl_image_tag candidacy.user.avatar, class: "avatar-large"%>
  </div>
  <div class="tenant-name">
    <p><%= "#{candidacy.user.first_name} #{candidacy.user.last_name}" %></p>
  </div>
  <div class="tenant-message">
    <%= link_to flat_candidacy_messages_path(candidacy.flat,candidacy) do %>
      <% if !candidacy.messages.empty? %>
        <% if (candidacy.messages.last.sender == candidacy.user && !candidacy.messages.last.read) %>
          <i class="fas fa-comments mess-icon"><i class="fas fa-circle unread-message-dot"></i></i>
        <% else %>
          <i class="fas fa-comments mess-icon"></i>
        <% end %>
      <% else %>
        <i class="fas fa-comments mess-icon"></i>
      <% end %>

    <% end %>
  </div>
  <div class="tenant-folder">
    <%= link_to profil_path(candidacy.user) do %>
      <% if candidacy.user.profil_confirmed %>
        <i class="fas fa-folder folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
      <% else %>
        <i class="fas fa-folder folder-icon"></i>
      <% end %>
    <% end %>
  </div>
  <div class="tenant-calendar">
    <%= link_to flat_availabilities_path(candidacy.flat) do %>
      <i class="far fa-calendar-alt"></i>
    <% end %>
  </div>
  <div class="tenant-status">
    <p class="status pending"><%= candidacy.status %></p>
  </div>
</div>

