<div class="tenant-card">
  <div class="img-card-tenant">
    <%= cl_image_tag candidacy.user.avatar, class: "avatar-large"%>
  </div>
  <div class="tenant-name">
    <p><%= "#{candidacy.user.first_name} #{candidacy.user.last_name}" %></p>
  </div>
  <div class="tenant-message">
    <%= link_to flat_candidacy_messages_path(candidacy.flat,candidacy) do %>
      <% if !candidacy.messages.empty? %>
        <% if (candidacy.messages.last.sender == candidacy.user && !candidacy.messages.last.read) %>
          <i class="fas fa-comments mess-icon"><i class="fas fa-circle unread-message-dot"></i></i>
        <% else %>
          <i class="fas fa-comments mess-icon"></i>
        <% end %>
      <% else %>
        <i class="fas fa-comments mess-icon"></i>
      <% end %>
    <% end %>
  </div>
  <div class="tenant-folder">
    <%= link_to profil_path(candidacy.user) do %>
      <% if candidacy.user.profil_confirmed %>
        <i class="fas fa-folder folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
      <% else %>
        <i class="fas fa-folder folder-icon"></i>
      <% end %>
    <% end %>
  </div>
  <div class="tenant-calendar">
    <%= link_to flat_availabilities_path(candidacy.flat) do %>
      <% if candidacy.status == "Visite programmee" %>
        <i class="far fa-calendar-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
      <% else%>
        <i class="far fa-calendar-alt"></i>
      <% end%>
    <% end %>
  </div>
  <div class="tenant-status">
    <% if candidacy.status == "Dossier retenu" %>
      <p class="status accepted"> Retenu</p>
    <% elsif candidacy.status == "Visite effectuee" %>
      <%= render 'candidacies/form', candidacy: candidacy, status: "Dossier retenu" %>
      <%= render 'candidacies/form', candidacy: candidacy, status: "Dossier archive"%>
      <!-- <i class="fas fa-check-circle confirm-candidacy"></i> <i class="fas fa-times-circle refuse-candidacy"></i> -->
    <% elsif candidacy.status == "Visite programmee" %>
      <p class="status pending"> <%=  I18n.l(candidacy.bookings.first.availability.start_time, format: "%Hh %d/%m") %> </p>
    <% elsif candidacy.status == "En attente" %>
      <p class="status pending"><%= candidacy.status %></p>
    <% elsif candidacy.status == "Dossier archive" %>
      <p class="status declined"> Archivé</p>
    <% end %>

  </div>
</div>

