<%= link_to(candidacy_path(candidacy)) do %>
  <div class="card">
    <div class="candidacy_card_body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= candidacy.flat.photo[0] %>);">
      <div class="candidacy_card_title"><strong><%= candidacy.flat.name %></strong> <br> <%= candidacy.flat.address %> <br> <%= candidacy.flat.price %>€</div>
      <% if  candidacy.status == "Visite programmée" %>
        <div class="candidacy_booking_date">
          <i class="far fa-calendar-alt folder-icon"></i> <%= I18n.l(candidacy.bookings.first.availability.start_time, format: "%A %d %B %H:%M") %>
        </div>
      <% end%>
    </div>
    <div class="candidacy_card_footer">
      <div class="avatar-img">
        <%= cl_image_tag candidacy.flat.user.avatar, class: "avatar"%>
      </div>
      <div class="icon-message">
        <%= link_to candidacy_messages_path(candidacy) do %>
          <% if !candidacy.messages.empty? %>
            <% if (candidacy.messages.last.sender == candidacy.flat.user && !candidacy.messages.last.read) %>
              <i class="fas fa-comments mess-icon"><i class="fas fa-circle unread-message-dot"></i></i>
            <% else %>
              <i class="fas fa-comments mess-icon"></i>
            <% end %>
          <% else %>
            <i class="fas fa-comments mess-icon"></i>
          <% end %>
        <% end %>
      </div>
      <div class="icon-calendar">
        <%= link_to candidacy_bookings_path(candidacy) do %>
          <% if candidacy.status == "Visite effectuée" || candidacy.status == "Dossier retenu" %>
            <i class="far fa-calendar-check"></i>
          <% elsif candidacy.status == "Visite programmée" %>
            <i class="far fa-calendar-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
          <% else %>
            <i class="far fa-calendar-alt"></i>
          <% end%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


