<%= link_to(candidacy_path(candidacy)) do %>
  <div class="card">
    <div class="candidacy_card_body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= candidacy.flat.photo[0] %>);">
      <div class="candidacy_card_title"><strong><%= candidacy.flat.name %></strong> <br> <%= candidacy.flat.address %> <br> <%= candidacy.flat.price %>€</div>
    </div>
    <div class="candidacy_card_footer">
      <div class="avatar-img">
        <%= cl_image_tag candidacy.flat.user.avatar, class: "avatar"%>
      </div>
      <div class="icon-message">
        <%= link_to candidacy_messages_path(candidacy) do %>
          <% if !candidacy.messages.empty? %>
            <% if (candidacy.messages.last.sender == candidacy.flat.user && !candidacy.messages.last.read) %>
              <i class="fas fa-comments mess-icon"><i class="fas fa-circle unread-message-dot"></i></i>
            <% else %>
              <i class="fas fa-comments mess-icon"></i>
            <% end %>
          <% else %>
            <i class="fas fa-comments mess-icon"></i>
          <% end %>
        <% end %>
      </div>
      <div class="icon-calendar">
        <%= link_to candidacy_bookings_path(candidacy) do %>
          <i class="far fa-calendar-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


