<%= link_to(flat_candidacy_messages_path(last_message.candidacy.flat, last_message.candidacy)) do %>
  <div class="message">
    <%= cl_image_tag last_message.candidacy.user.avatar, class: "avatar-large"%>
    <div class="message-name">
      <h4><%= "#{last_message.candidacy.user.first_name} #{last_message.candidacy.user.last_name}" %></h4>
      <p><%= last_message.updated_at.strftime("%d/%m/%Y"); %></p>
    </div>
    <div class="message-body">
      <% if  unread_messages.count > 0%>
        <p><strong><%= last_message.content.split(/[\.!?]/)[0]%> <%= "(#{unread_messages.count})" %></strong> </p>
      <% else %>
        <% if last_message.sender == current_user %>
          <p><i class="fas fa-share"></i> <%= last_message.content.split(/[\.!?]/)[0]%></p>
        <% else %>
          <p><%= last_message.content.split(/[\.!?]/)[0]%></p>
        <% end%>
      <% end%>
    </div>
    <div class="message-status-icon">
      <% if last_message.candidacy.status == "Dossier retenu" %>
        <i class="fas fa-check-circle"></i>
      <% elsif last_message.candidacy.status == "Visite effectuée" %>
        <i class="far fa-calendar-check"> </i>
      <% elsif last_message.candidacy.status == "Visite programmée" %>
        <i class="far fa-calendar-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i>
      <% elsif last_message.candidacy.status == "En attente" %>
        <i class="far fa-clock"> </i>
      <% elsif last_message.candidacy.status == "Dossier archivé" %>
        <i class="fas fa-archive"> </i>
      <% end %>
    </div>
  </div>
<% end %>
