<% if params[:flat_id].nil? %>
<!-- Dashboard-box côté locataire -->
  <div class="dashboard">

    <div class="container">
      <div class="row flex">
        <div class="col-xs-3 sm-padding-right">
          <!-- sidebar-owner -->
          <%= render 'shared/sidebar_tenant' %>
        </div>

        <div class="col-xs-9 sm-padding-left">
          <!-- dashboard-box -->
          <div class="dashboard-box">
            <%= render 'shared/tabs_candidacies' %>
            <%= render 'messages/index_messages', candidacy: @candidacy, messages: @messages, unread_messages: @unread_messages %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% else %>
<!-- Dashboard-box côté proprio-->
  <div class="dashboard">

    <div class="container">
      <div class="row flex">
        <div class="col-xs-1 no-padding-right">
          <!-- tabs apparts -->
          <%= render 'shared/tabs_flats' %>
        </div>
        <div class="col-xs-3 sm-padding-right no-padding-left">
          <!-- sidebar-owner -->
          <%= render 'shared/sidebar_owner' %>
        </div>

        <div class="col-xs-8 sm-padding-left">
          <!-- dashboard-box -->
          <div class="dashboard-box">
            <% if params[:candidacy_id].nil? %>
              <%= render 'messages/index_discussions', discussions: @discussions %>
            <% else %>
              <%= render 'messages/index_messages', candidacy: @candidacy, messages: @messages, unread_messages: @unread_messages  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

