

<h3>Synchronisation de l'annonce</h3>
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ad_url, label: "", placeholder: "Tu copies le lien de ton annonce LeBonCoin... et on s'occupe du reste"%>
    <div class="scrap-btn">
      <div>
        <%= link_to 'Annuler', :back, class: "btn btn-default"%>
      </div>
      <div>
        <button id="scrap" class="progress-button " data-style="shrink" data-horizontal="">
          <span class="content"><i class="fas fa-sync-alt"></i> Synchroniser</span>
          <span class="progress"><span class="progress-inner"></span></span>
        </button>
      </div>
    </div>
    <br>
    <h3 class='warning-info hidden'>Et Bim! Ça c'est fait! Tu veux vérifier?</h3>
    <%= f.input :name, wrapper_html: { class: 'hidden' }, label: "Le petit nom de ce logement", placeholder: "ex. 'T2 Lyon X-Rousse'" %>
    <%= f.input :address, wrapper_html: { class: 'hidden' }, label: "Adresse" %>
    <%= f.input :price, wrapper_html: { class: 'hidden' }, label: "Montant du loyer" %>
    <%= f.input :description, wrapper_html: { class: 'hidden' }, label: "Description" %>
    <%= f.input :publication_date, wrapper_html: { class: 'hidden' }, label: "Date de publication" %>
    <%= f.input :surface, wrapper_html: { class: 'hidden' }, label: "Surface" %>
    <%= f.input :nb_rooms, wrapper_html: { class: 'hidden' }, label: "Nombre de pièces" %>
    <%= f.input :visit_capacity, as: :hidden, label: "Entrez le nombre maximal de candidat par visite" %>
    <%= f.input :photo, as: :hidden, label: "Liens des photos" %>
  </div>

  <div class="form-actions" >
    <%= f.button :submit, 'Valider', class: "btn btn-primary pull-right hidden" %>
  </div>
<% end %>
