<h3>Ajouter une annonce</h3>
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ad_url, label: "Lien de votre annonce", placeholder: 'Lien de votre annonce Leboncoin, Seloger...'%>
    <%= f.button :button, 'Synchroniser', type: :button, class: "btn btn-primary pull-right", id: "scrap" %> <br> <br>
    <%= f.input :name, label: "Le petit nom de ce logement", placeholder: "ex. 'T2 Lyon X-Rousse'" %>
    <%= f.input :address, label: "Son Adresse" %>
    <%= f.input :price, label: "Le montant du loyer mensuel" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :publication_date, label: "Date de publication" %>
    <%= f.input :surface, label: "Surface" %>
    <%= f.input :nb_rooms, label: "Nombre de pièces principales" %>
    <%= f.input :visit_capacity, label: "Nombre limite de candidats par visite" %>
    <%= f.input :photo, as: :hidden, label: "Liens des photos" %>
  </div>

  <div class="form-actions">
    <%= link_to 'Annuler', :back, class: "btn btn-default"%>
    <%= f.button :submit, 'Valider', class: "btn btn-primary pull-right" %>
  </div>
<% end %>
