  <!-- Dashboard-box côté locataire: listes des bookings-->
<% if params[:candidacy_id].nil? %>
  <div class="dashboard">

    <div class="container">
      <div class="row flex">
        <div class="col-xs-3 sm-padding-right">
          <!-- sidebar-owner -->
          <%= render 'shared/sidebar_tenant' %>
        </div>

        <div class="col-xs-9 sm-padding-left">
          <!-- dashboard-box -->
          <div class="dashboard-box">
            <%= render 'bookings_tenant', bookings: @bookings %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else%>
  <!-- Dashboard-box côté locataire: booking pour une candidacy -->
  <div class="dashboard">

    <div class="container">
      <div class="row flex">
        <div class="col-xs-3 sm-padding-right">
          <!-- sidebar-owner -->
          <%= render 'shared/sidebar_tenant' %>
        </div>

        <div class="col-xs-9 sm-padding-left">
          <!-- dashboard-box -->
          <div class="dashboard-box">
            <%= render 'shared/tabs_candidacies' %>
            <%= render 'shared/calendar_booking' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end%>
