<!-- calendar structure by Antoine -->
<div class="row calendar">
  <div class="col-xs-12 text-center">

    <div class="row">

        <div class="col-xs-12 availabilities-desktop">
          <div class="row">
            <div class="col-xs-1 availabilities-pagination">
              <a href="#" id="left-pagination"><i class="fas fa-chevron-left"></i></a>
            </div>

            <% 14.times do |i| %>
              <% day = @today + i %>
              <div class="col-xs-2 availabilities-day" <%= raw "style=\"display: none\""%> data-day-step="<%= i %>">
                <%= %>
                <div class="availabilities-day-title">
                  <div class="availabilities-day-name">
                    <%= I18n.l(day, format: '%A') %>
                  </div>
                  <div class="availabilities-day-date">
                    <%= day.day %> <%= I18n.l(day, format: '%B') %>
                  </div>


                </div>

                <div class="availabilities-slots" data-bookings="<%= @availabilities.to_json %>" data-flat="<%= @flat.id %>">
                  <% 12.times do |i| %>
                    <% date_hour = day.to_datetime + ((8 + i) * 3600).seconds %>
                    <%= link_to flat_availabilities_path(@flat, date: date_hour), class:"availability-proprio" do %>
                      <div class="availabilities-slot" data-dt="<%= date_hour %>">
                        <%= date_hour.strftime('%Hh')  %>
                      </div>
                    <% end %>

                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="col-xs-1 availabilities-pagination">
              <a href="#" id="right-pagination"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

