<!-- calendar structure côté locataire by Antoine -->
<div class="row calendar calendar-tenant">
  <div class="col-xs-12 text-center">

    <div class="row">

        <div class="col-xs-12 availabilities-desktop">
          <div class="row">
            <div class="col-xs-1 availabilities-pagination">
              <a href="#" id="left-pagination"><i class="fas fa-chevron-left"></i></a>
            </div>
            <% 14.times do |i| %>
              <% day = @today + i %>
              <div class="col-xs-2 availabilities-day" <%= raw "style=\"display: none\""%> data-day-step="<%= i %>">
                <%= %>
                <div class="availabilities-day-title">
                  <div class="availabilities-day-name">
                    <%= I18n.l(day, format: '%A') %>
                  </div>
                  <div class="availabilities-day-date">
                    <%= day.day %> <%= I18n.l(day, format: '%B') %>
                  </div>


                </div>

                <div class="availabilities-slots" data-bookings="<%= @candidacy.flat.availabilities.to_json %>" data-candidacy-id="<%= @candidacy.id %>">
                  <% 12.times do |i| %>


                    <% date_hour = day.to_datetime + ((8 + i) * 3600).seconds %>
                    <% is_available = @availabilities.map(&:start_time).include?(date_hour) %>

                    <% availability_id = @availabilities.select{|av| av.start_time == date_hour}.map(&:id).first %>

                    <!-- ajouter insersion class 'booked' si is_booked == true -->

                    <!-- ajouter data-booking-id si is_booked == true -->
                    <% is_booked = @bookings.map(&:candidacy_id).include?(@candidacy) %>

                    <!-- booking_id = @bookings.select{|booking| booking.availability_id == @availability} -->


                    <%= link_to flat_availabilities_path(@flat, date: date_hour), class:"availability-tenant" do %>
                      <div class="availabilities-slot <%= "availability" if is_available %>" data-dt="<%= date_hour %>" data-availability-id="<%= availability_id %>">
                        <%= date_hour.strftime('%Hh')  %>
                      </div>
                    <% end %>

                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="col-xs-1 availabilities-pagination">
              <a href="#" id="right-pagination"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

