<!-- calendar structure by Antoine -->
<div class="row calendar">
  <div class="col-xs-12 text-center">

    <div class="row">

        <div class="col-xs-12 availabilities-desktop">
          <div class="row">
            <div class="col-xs-1 availabilities-pagination availabilities-pagination-disabled">
            <i class="fas fa-chevron-left"></i>
            </div>

            <% 5.times do |i| %>
              <div class="col-xs-2 availabilities-day" <%= raw "style=\"display: none\"" if i > 3 %>>

                <div class="availabilities-day-title">
                  <div class="availabilities-day-name">
                  <%= I18n.l(@today + i, format: '%A') %>
                  </div>
                  <div class="availabilities-day-date">
                  <%= @today.day + i %> <%= I18n.l(@today + i, format: '%B') %>
                  </div>
                </div>
                <div class="availabilities-slots">
                  <% 12.times do |i| %>
                    <div class="availabilities-slot">
                      <%= 8 + i  %>h
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="col-xs-1 availabilities-pagination">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>


<!-- Exemple en statique -->
<p>Exemple en statique :</p>
<div class="row calendar">
  <div class="col-xs-12 text-center">

    <div class="row">
        <div class="col-xs-12 availabilities-desktop">
          <div class="row">
            <div class="col-xs-1 availabilities-pagination availabilities-pagination-disabled">
            <i class="fas fa-chevron-left"></i>
            </div>

            <div class="col-xs-2 availabilities-day">
              <div class="availabilities-day-title">
                <div class="availabilities-day-name">
                dimanche
                </div>
                <div class="availabilities-day-date">
                4 mars
                </div>
              </div>
              <div class="availabilities-slots">
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-2 availabilities-day">
              <div class="availabilities-day-title">
                <div class="availabilities-day-name">
                lundi
                </div>
                <div class="availabilities-day-date">
                5 mars
                </div>
              </div>
              <div class="availabilities-slots">
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-2 availabilities-day">
              <div class="availabilities-day-title">
                <div class="availabilities-day-name">
                mardi
                </div>
                <div class="availabilities-day-date">
                6 mars
                </div>
              </div>
              <div class="availabilities-slots">
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->16:00<!-- /react-text -->
                </div>
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->17:00<!-- /react-text -->
                </div>
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->18:00<!-- /react-text -->
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-2 availabilities-day">
              <div class="availabilities-day-title">
                <div class="availabilities-day-name">
                mercredi
                </div>
                <div class="availabilities-day-date">
                7 mars
                </div>
              </div>
              <div class="availabilities-slots">
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->18:00<!-- /react-text -->
                </div>
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->19:00<!-- /react-text -->
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-2 availabilities-day">
              <div class="availabilities-day-title">
                <div class="availabilities-day-name">
                jeudi
                </div>
                <div class="availabilities-day-date">
                8 mars
                </div>
              </div>
              <div class="availabilities-slots">
                <div class="availabilities-slot">
                  <!-- react-text: 74 -->18:00<!-- /react-text -->
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
                <div class="availabilities-empty-slot">
                  <div class="availabilities-empty-slot-dash">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-1 availabilities-pagination">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 availabilities-more">
        Voir plus d'horaires
      </div>
    </div>

  </div>
</div>
