<!-- Dashboard-box de la vue show -->
<div class="dashboard-box">
  <div>
    <%= link_to edit_flat_path  do %>
      <i class="fas fa-pen-square"></i>  <%= "Editer" %>
    <% end %>
  </div>
  <div>
    <%= link_to @flat.ad_url  do %>
      <i class="fas fa-link"></i>  <%= "Voir l'annonce" %>
    <% end %>
  </div>
  <div class="visuel">
    <div class="photo_flat">
      <%= cl_image_tag "https://a0.muscache.com/im/pictures/30270243/263addda_original.jpg?aki_policy=xx_large", height: 300, width: 400, crop: :fill %>
    </div>
    <div id="map"></div>
  </div>
  <div class="info_flat">
    <div class="metric_flat">
      <div><p><%= @flat.price %> € / mois</p></div>
      <div><p><i class="fas fa-expand-arrows-alt"></i> <%= @flat.surface %> m2 </p></div>
      <div><p><i class="fas fa-bed"></i> <%= @flat.nb_rooms %> pièce(s)</p></div>
    </div>
    <div>
      <p><%= @flat.address %></p>
    </div>
  </div>



<!--   <p><%= "date de publication: #{@flat.publication_date}" %></p> -->

<!--   <p><%= @flat.user_id %></p> -->
  <p><%= @flat.description %></p>
<!--   <p><i class="fas fa-expand-arrows-alt"></i> <%= @flat.surface %> m2</p>
  <p><i class="fas fa-bed"></i> <%= @flat.nb_rooms %> pièce(s)</p> -->
  <h6>Créé le <%= @flat.created_at %>, mis à jour le <%= @flat.updated_at %></h6>
</div>

