<!-- Sidebar du proprio -->
<div class="sidebar sidebar-owner">
  <!-- Ajouter un if @flat exist : Name Sinon "Nouveau" -->
  <h3><%= @flat.name ? @flat.name : "Nouveau" %></h3>
  <!-- <h3><%= @flat.name %></h3> -->
  <% if !@flat.id.nil? %>
    <ul>
      <li><a href="#"><i class="fas fa-map-marker-alt"></i>Mon logement</li></a>
      <li> <%= link_to  flat_messages_path(@flat) do %>
        <i class="fas fa-envelope"></i>
        <% if @unread_mess_flat > 0%>
          Messages <%= "(#{@unread_mess_flat})" %>
        <% else%>
          Messages
        <% end %>
      <% end %></li>
      <li> <%= link_to flat_availabilities_path(@flat) do %>
        <i class="far fa-calendar-alt"></i>
        Visites
      <% end %></li>
      <li> <%= link_to flat_candidacies_path(@flat) do %>
        <i class="fas fa-folder"></i>
        Dossiers
      <% end %></li>
      <li><a href="#"><i class="fas fa-user"></i>Profile</li></a>
    </ul>
  <% end%>
</div>

