<!-- Sidebar du proprio -->
<div class="sidebar sidebar-owner">
  <!-- Ajouter un if @flat exist : Name Sinon "Nouveau" -->
  <h3><%= @flat.name ? @flat.name : "Nouveau" %></h3>
  <!-- <h3><%= @flat.name %></h3> -->
  <% if !@flat.id.nil? %>
    <ul>

      <li>
        <%= link_to_with_actif flat_candidacies_path(@flat) do %>
          <i class="fas fa-folder"></i>
            Dossiers
        <% end %>
      </li>
      <li>
        <%= link_to_with_actif flat_messages_path(@flat) do %>
          <i class="fas fa-envelope"></i>
          <% if @unread_mess_flat > 0%>
            Messages <%= "(#{@unread_mess_flat})" %>
          <% else%>
            Messages
          <% end %>
        <% end %>
      </li>

      <li>
        <%= link_to_with_actif flat_availabilities_path(@flat) do %>
          <i class="far fa-calendar-alt"></i>
            Visites
        <% end %>
      </li>

      <li>
        <%= link_to_with_actif flat_path(@flat) do %>
          <i class="fas fa-map-marker-alt"></i>
            Mon logement
        <% end %>
      </li>

    </ul>

    <div class="share-link-flat text-center">
      <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary tooltips") do %>
        <span>Inviter de nouveaux locataires</span>
        Partager <i class="fas fa-share-alt"></i>
      <% end %>
    </div>
  <% end%>
</div>

