<div class="tabs-flats">
    <% @flats.each_with_index do |flat, i| %>
      <%= link_to flat_path(flat) do %>
        <div class="tab-flat <%= 'active' if @flat == flat %> <%= 'first-tab' if i == 0 %>">
          <%= flat.name %>
          <!-- virer le nom du flat (le laisser en title) et ajouter picto 'home' + n°i) -->
        </div>
      <% end %>
    <% end %>

    <%= link_to new_flat_path, title: "Ajouter une annonce" do %>
      <div class="tab-flat <%= 'active' if @flat.name == nil  %>">
        <i class="fas fa-plus-circle"></i>
      </div>
    <% end %>
</div>
