<div class="tabs-flats">
    <% @flats.each_with_index do |flat, i| %>
      <%= link_to flat_path(flat) do %>
        <div class="tab-flat <%= 'active' if @flat == flat %> <%= 'first-tab' if i == 0 %>" title= "<%= flat.name %>">
          <i class="fas fa-home"></i>
          <div class="flat-num">
            <%= i + 1 %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to new_flat_path, title: "Ajouter une annonce" do %>
      <div class="tab-flat <%= 'active' if @flat.name == nil  %>">
        <i class="fas fa-plus-circle"></i>
      </div>
    <% end %>
</div>
