<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="card-form registration">
        <div class="profil_show">
          <% if @profil.profil_confirmed %>
            <h3> <%= "#{@profil.first_name} #{@profil.last_name}" %> <i class="fas fa-check-circle"></i></h3>
          <% else %>
            <h3> <%= "#{@profil.first_name} #{@profil.last_name}" %></h3>
            <p>Attention : merci de bien compléter ton profil pour candidater à une offre</p>
          <% end %>
         <div class="contact_head">
            <div class="contact_head_left">
              <%= cl_image_tag @profil.avatar, class: "avatar-large" %>
            </div>
            <div class="contact_head_right"></div>
              <ul>
                <li><%= "Adresse: #{@profil.address}" %></li>
                <li><%= "Tel: #{@profil.phone_number}" %></li>
              </ul>
            </div>
          </div>
          <div>
            <ul class="list_doc">
              <% if @profil.id_card? %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i> Carte d'identité </li>
              <% else %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-times-circle folder-times"></i></i> Carte d'identité </li>
              <% end %>
              <% if @profil.tax_notice? %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i> Avis d'imposition </li>
              <% else %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-times-circle folder-times"></i></i> Avis d'imposition </li>
              <% end %>
              <% if @profil.payslip? %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-check-circle folder-check"></i></i> Fiche de salaire </li>
              <% else %>
                <li><i class="far fa-file-alt folder-icon"><i class="fas fa-times-circle folder-times"></i></i> Fiche de salaire </li>
              <% end %>
            </ul>
          </div>
          <div>
            <% if @profil == current_user%>
              <%= link_to edit_profil_path(current_user) do %>
                <i class="fas fa-edit"></i>
                Editer mon profile
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


