<h1> <%= "#{@profil.first_name} #{@profil.last_name}" %> </h1>
<%= cl_image_tag @profil.avatar, class: "avatar-large" %>

<ul>
  <li><%= "adresse: #{@profil.address}" %></li>
  <li><%= "Tel: #{@profil.phone_number}" %></li>
</ul>



<%= link_to 'Editer mon Profil', edit_profil_path(current_user) %> <br>
