<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google result text-->
    <title>myAgency - Oubliez les agences, nous vous offrons la simplicité</title>
    <!-- Google result description-->
    <meta name="description" content="myAgency révolutionne la relation locataire propriétaire!">
    <%= favicon_link_tag 'favicon.png' %>
    <!-- Facebook-->
    <meta property="og:title" content="myAgency - Oubliez les agences, nous vous offrons la simplicité">
    <meta property="og:image" content="<%= image_path 'facebook-card.jpeg' %>">
    <meta property="og:description" content="myAgency révolutionne la relation locataire propriétaire!">
    <meta property="og:site_name" content="myAgency"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div id = "body-wrap">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
